@charset "UTF-8";
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: white;
  --texto: black;
  --texto-inverso: white;
  --destaque: rgb(31, 118, 218);
  --destaque-formacao: rgb(103, 196, 212);
  --destaque-inverso: orange;
  --fundo-card: rgba(220, 220, 220, 0.507);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: gainsboro;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--destaque);
  width: 100vw;
  /*Colar menu no topo */
  
  position: fixed;
  top: 0;
}

header > ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 98vw;
}

header > ul > li {
  margin: 0px 5px; 
  padding: 12px 3px;
  color: white;
  background-color: var(--destaque);
}

header > ul > li > a, #botao-tema {
  color: white;
  padding: 12px;
  border-radius: 10px;
}

header > ul > li > a:hover, #botao-tema:hover {
  color: var(--destaque);
  background-color: rgba(140, 182, 231, 0.671);
  transition-duration: 0.3s;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

#tema {
  background-color: black;
  color: orange;
}

#grid-container {
  display: grid;
  text-align: left;
  grid-template: auto auto auto auto / 20px 1fr 20px;
  gap: 10px;
  background-color: gainsboro;
}

main {
  /* a margem é necessária devido ao header colado no topo */
  margin-top: 60px;
}

.conteudo, #ficha { /* Ficha é a caixa de introdução, conteúdo é todo o resto */
  grid-column: 2 / 3;
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

#foto_perfil {
  margin: auto;
  height: 150px;
  width: 180px;
  border-radius: 100%;
  outline: 3px solid var(--destaque);
  border: 4px solid white;

  background-image: url(../imagens/guanabara-perfil-edit.jpg);background-position: center;
  background-size: cover;
}

i.fa-handshake {
  color: var(--destaque);
}

h1 {
  color: var(--destaque);
  margin: 15px 7px;
}

h2 {
  font-size: 1.15em;
}

p {
  line-height: 1.5em;
  text-align: justify;
  text-indent: 6px;
}

#social {
  text-align: center;
  margin: 15px;
}

#social > li {
  display: inline-block;
  margin: 4px;
}

#social > li > a {
  color: blue;
  text-decoration: none;
}

#social > li > a:hover {
  opacity: .60;
  transition-duration: 0.4s;
}

#video-apresentacao {
  display: block;
  width: 90%;
  max-width: 560px;
  margin: auto;
  padding: 10px;
}

.card { /* Usado tanto no "Formação" tanto no "Projetos" */
  margin: 14px;
  padding: 7px;
  border-radius: 15px;
  background-color: var(--fundo-card);
  border-left: var(--destaque-formacao) 4px solid;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.164);
}

.card:hover {
  border-left: var(--destaque) 15px solid;
  transition: 0.4s;
}

.formacao_nome {
  color: var(--destaque);
}

.formacao_data {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formacao > .card > h2 {
  color: var(--destaque-formacao);
}

#projetos > .card > a {
  text-decoration: none;
  color: black;
}

#projetos > .card > a > p {
  font-family: Arial, Helvetica, sans-serif;
}

#projetos > .card > a > img {
  width: 100%;
  height: 225px;
  border-radius: 15px;
  box-shadow: 2px 3px 8px 3px rgba(98, 181, 248, 0.281);
}

footer {
  background-color: var(--destaque);
  color: white;
  font-weight: bold;
  padding: 9px;
  width: 100%;
}

footer > p {
  text-align: center;
}